{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbarItems %}
            
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="register" href="/register">Register</a>

{% endblock %}
{% block content %}

<h3 align='center'>Login</h3>
<form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}