{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block navbarItems %}
            
<a class="nav-item nav-link" id="home" href="/">Home</a>
<a class="nav-item nav-link" id="login" href="/login">Login</a>
            
{% endblock %}
{% block content %}
<h3 align='center'>Register</h3>
<form method="POST">
    <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>

    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}